.idea/*
generated_html/*
generated_doc/*
converted_images/*
converted_images_black/*
geckodriver.log
txt_black/*
txt_white/*
test/*
data/*
dataset.h5
dataset_raw.h5
resized_txt_black/*
resized_txt_white/*
resized_txt_black_512/*
resized_txt_white_512/*
localizing.h5
localizing_raw.h5
.DS_Store
raw_doc/*
raw_mask/*
raw_doc_resized/*
raw_mask_resized/*
gen_doc_gray/*
gen_mask_gray/*
